@model MvcMovie.Models.ReviewViewModel

@{
    ViewData["Title"] = "Details";

}


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>


<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Title)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Price)


        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Movies.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@Html.Partial("~/Views/Reviews/Review.cshtml", Model.Reviews)






